body {
    background-color: #150c1c;
}

.card-wrapper {
    display: flex;
    justify-content: center;
}

.card {
    margin: 8px;
    display: flex;
    justify-content: center;
    max-width: 873px;
    flex-wrap: wrap;    
    overflow: hidden;  
}

.card__image {
    border-radius: 8px;
    margin: 8px;    
    min-width: 200px;
    min-height: 200px;
    background-color: coral;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.new-game-button {  
    margin-top: 16px;
    padding: 4px 8px;
    background-color: coral;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    border-radius: 4px;
    color: #150c1c;
    font-weight: bold;
    border: none;
}

.button-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}